<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  TESTE<br>
  <ul>
  <% @todos.each do |todo| %>
    <li><h1><%= todo.title %> - <%= todo.project %>: <%if todo.done %> Feito <% else %> Pendente <% end %></h1></li>
  <% end %>
</ul>
</body>
</html>
